@import url("https://fonts.googleapis.com/css?family=Aldrich|Michroma");
.valign-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.uppercase {
  text-transform: uppercase !important; }

.capitalize {
  text-transform: capitalize !important; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.no-border {
  border: none !important; }

.bold {
  font-weight: bold !important; }

.text-red {
  color: #eb2224 !important; }

.shadow-box {
  transition: all .15s ease-in-out .1s;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.06); }

.aldrich, body {
  font-family: 'Aldrich', sans-serif; }

.michroma, .hero-text .hero-header-wrapper .hero-header, .page-body-wrapper .page-body-header {
  font-family: 'Michroma', sans-serif; }

.slick-slide {
  position: relative; }
  .slick-slide img {
    margin: 0 auto; }

.slick-dots li button:before {
  opacity: .25;
  color: #ddd; }
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #eb2224; }

.slick-dots {
  bottom: -50px;
  width: 70%;
  margin: 0 0 0 15%; }
  .slick-dots li {
    margin: 0 1px; }
    .slick-dots li button {
      -webkit-transform: scale(2.3);
              transform: scale(2.3); }

.carousel-tile .carousel-img {
  width: 238px;
  height: 238px;
  -o-object-fit: cover;
     object-fit: cover; }

.custom-carousel-container {
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  display: inline-block;
  color: white;
  width: 210px;
  text-align: center;
  top: 74%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 99; }
  .custom-carousel-container .carousel-line {
    margin: 10px 0;
    height: 3px; }

.custom-border-wrapper {
  padding: 10px 25px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block; }

.custom-border {
  width: 115px;
  height: 66px;
  line-height: 42px;
  padding: 0;
  border: none; }

.carousel-tile-caption {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 auto;
  font-weight: 700;
  padding: 8px 12px;
  background-color: rgba(0, 0, 0, 0.8); }

.carousel-tile-subcaption {
  font-size: 8px;
  text-transform: uppercase; }

.custom-border:before, .custom-border:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #eb2224;
  transition: all 0.3s ease; }

.custom-border:before {
  height: 50%;
  width: 2px; }

.custom-border:after {
  width: 20%;
  height: 2px; }

.custom-border:hover:before {
  height: 100%; }

.custom-border:hover:after {
  width: 100%; }

.custom-border .carousel-tile-caption:before, .custom-border .carousel-tile-caption:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #eb2224;
  transition: all 0.3s ease; }

.custom-border .carousel-tile-caption:before {
  width: 2px;
  height: 50%; }

.custom-border .carousel-tile-caption:after {
  width: 20%;
  height: 2px; }

.custom-border .carousel-tile-caption:hover:before {
  height: 100%; }

.custom-border .carousel-tile-caption:hover:after {
  width: 100%; }

.img-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 44px;
  padding: 14px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .img-avatar img {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    -o-object-fit: cover;
       object-fit: cover; }

.navbar-transparent {
  background: linear-gradient(to bottom, rgba(61, 61, 61, 0.93) 21%, rgba(61, 61, 61, 0.56) 56%, rgba(61, 61, 61, 0) 99%, rgba(255, 255, 255, 0) 100%);
  border: none;
  border-radius: 0; }
.navbar-brand {
  padding: 9px 15px !important; }
.navbar-right li.active a {
  color: #eb2224;
  border-top: 3px solid #eb2224; }
.navbar-right li a {
  border-top: 3px solid transparent;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -.3px;
  transition: all .15s ease-in-out .1s; }
  .navbar-right li a:hover, .navbar-right li a:focus {
    transition: all .15s ease-in-out .1s;
    background-color: transparent;
    border-top: 3px solid #eb2224; }

.hero-image {
  background-image: url(../img/hero-fix.png), linear-gradient(transparent, black);
  height: 574px;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 68%;
  left: 50%;
  right: -10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 99; }
  .hero-text .hero-intro {
    text-align: right;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    width: 400px;
    font-style: italic;
    opacity: .8;
    line-height: 1.2; }
  .hero-text .hero-header-wrapper {
    margin-top: 100px; }
    .hero-text .hero-header-wrapper .hero-header {
      font-size: 45px;
      font-weight: 900; }
    .hero-text .hero-header-wrapper .hero-subheader {
      font-size: 19px;
      opacity: .8; }
      .hero-text .hero-header-wrapper .hero-subheader-2 {
        font-size: 14px;
        opacity: .8;
        margin: 0 auto;
        width: 410px; }
    .hero-text .hero-header-wrapper .hero-line {
      margin: 16px 0 24px 0; }
    .hero-text .hero-header-wrapper .btn-red {
      background-color: #eb2224;
      color: #fff;
      border-radius: 0;
      text-transform: uppercase;
      padding: 4px 32px;
      font-size: 15px;
      margin-top: 34px;
      margin-right: -34px; }
      .hero-text .hero-header-wrapper .btn-red i {
        font-size: 28px;
        margin-left: 20px;
        vertical-align: middle; }

body {
  height: 100%;
  background-color: #000;
  background-image: url("../img/texture-1.png");
  background-size: 100%;
  background-position: 100% -65%; }

.page-body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.13) 21%, rgba(20, 20, 20, 0.26) 56%, rgba(61, 61, 61, 0) 99%, rgba(255, 255, 255, 0) 100%);
  min-height: 500px;
  height: 100%;
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  padding-top: 80px; }
  .page-body-wrapper .page-body-header {
    font-size: 18px;
    color: #fff; }

.page-body-highlight {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 24px; }
  .page-body-highlight .carousel-tile {
    float: left;
    height: 100%;
    min-height: 100%;
    position: relative;
    display: block;
    margin: 0 23.5px; }

@media (min-width: 320px) {
  body {
    background-size: inherit; }

  .navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 8px;
    background-color: black;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
    .navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background: aliceblue; }

  .navbar-brand {
    margin-left: 25px; }
    .navbar-brand img {
      height: 33px; }

  .avatar-mobile {
    padding: 11px !important;
    margin-left: 24px;
    display: inline-block; }
    .avatar-mobile img {
      width: 28px;
      height: 28px;
      -o-object-fit: cover;
         object-fit: cover; }

  .navbar-transparent {
    background: rgba(0, 0, 0, 0.6) !important; }

  .hero-text {
    top: 72%;
    left: 50%;
    width: 100%;
    right: 0; }

  .page-body {
    padding-top: 220px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26) 21%, rgba(20, 20, 20, 0.26) 56%, rgba(61, 61, 61, 0) 99%, rgba(255, 255, 255, 0) 100%); }

  .hero-image {
    background-position: 18% 0; }

  .hero-text .hero-header-wrapper {
    margin-top: 60px;
    width: 230px;
    margin-left: auto;
    margin-right: auto; }
    .hero-text .hero-header-wrapper .hero-header {
      font-size: 34px; }
    .hero-text .hero-header-wrapper .hero-subheader {
      font-size: 14px; }
    .hero-text .hero-header-wrapper .hero-subheader-2 {
      width: initial; }
    .hero-text .hero-header-wrapper .btn-red {
      margin-right: 0; }
  .hero-text .hero-intro {
    width: 230px;
    margin-right: 20px; } }
@media (min-width: 375px) {
  .navbar-brand {
    margin-left: 50px; }

  .avatar-mobile {
    margin-left: 44px; } }
@media (min-width: 414px) {
  .navbar-brand {
    margin-left: 75px; }

  .avatar-mobile {
    margin-left: 64px; } }
@media (min-width: 425px) {
  .navbar-brand {
    margin-left: 85px; } }
@media (min-width: 768px) {
  .avatar-mobile {
    display: none !important; }

  .img-avatar {
    padding: 11px !important;
    margin-left: 24px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
    .img-avatar img {
      width: 28px;
      height: 28px; }

  .navbar-right li a {
    font-size: 9px; }

  .hero-text {
    top: 56%; }
    .hero-text .hero-header-wrapper {
      width: 550px; }
      .hero-text .hero-header-wrapper .hero-header {
        font-size: 34px; }
      .hero-text .hero-header-wrapper .hero-subheader {
        font-size: 14px; }
      .hero-text .hero-header-wrapper .hero-subheader-2 {
        width: initial; }
      .hero-text .hero-header-wrapper .btn-red {
        margin-right: 0; }
    .hero-text .hero-intro {
      width: 230px;
      margin-right: 80px; }

  .page-body {
    padding-top: 40px; }

  .page-body-highlight .carousel-tile {
    margin: 0; }
  .page-body-highlight .custom-carousel-container {
    width: 120px; }

  .slick-slide img {
    width: 90% !important; } }
@media (min-width: 992px) {
  .navbar-right li a {
    font-size: 12px; }

  .navbar-transparent {
    background: linear-gradient(to bottom, rgba(61, 61, 61, 0.93) 21%, rgba(61, 61, 61, 0.56) 56%, rgba(61, 61, 61, 0) 99%, rgba(255, 255, 255, 0) 100%) !important; }

  .page-body-highlight .row {
    padding: 0 12px; } }
@media screen and (min-width: 1200px) {
  .carousel-tile .carousel-img {
    width: 256px; } }
